[user]
  name = Diego Rodriguez Rodriguez
  email = diegodelemos@pm.me
[github]
  user = diegodelemos
[core]
  excludesfile = ~/projects/personal/dotfiles/.gitignore_global
  editor = vim
  ignorecase = false
[init]
  defaultBranch = main
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = "code --wait --diff  "
[alias]
  last = log -p -1
