[user]
    name = Diego Rodriguez
    email = diego.rodriguez@cern.ch
    signingkey = AA2E1B4631D1CB9D
[github]
    user = diegodelemos
[core]
    excludesfile = ~/dotfiles/.gitignore_global
    editor = vim
[pager]
    diff = false
[alias]
    glog = log --graph --decorate --pretty=format:'%C(blue)%d%Creset %C(yellow)%h%Creset %s, %C(bold green)%an%Creset, %C(green)%cd%Creset' --date=relative --all
    last = log -p -1
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    fu = fetch upstream
    mffo = merge --ff-only
    delete-merged-branches = "!git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[commit]
  gpgSign = true
[gpg]
	program = gpg2
